* {
    padding: 0;
    margin: 0;
overflow-x: hidden;
}

footer {
    background-color: hsl(250.5, 90.4%, 59.2%);
    color: aliceblue;
    height:8.4vh;

}

footer nav ul {
    list-style: none;
    text-decoration: none;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    padding: 12px;

}

footer nav ul :hover {
    color: aqua;
    font-weight: bold;


}

.search input {
    width: 500px;
    padding: 8px;
    /* text-align: center; */
    align-content: center;
    margin: 12px;
    height: 8px;
    border-radius: 5px;
}

button {
    height: 30px;
    padding: 5px;
    margin: 8px;
    cursor: pointer;
    border-radius: 8px;
    background-color: burlywood;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;

}

img {
    width: 200px;
}


footer nav ul a {
    height: 12vh;
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    align-items: center;
    text-align: center;
}


main {
    background-color: hsl(250.5, 90.4%, 59.2%);
    height: 4.4vh;
    color: beige;
}

.class {
    min-height: calc(100vh);

}

.slider {
   margin-left: 22px;
  padding: 18px;
  width: 2000px;
  display: flex;
  gap: 66px;
}



.slider1 {
    padding:1px;
  background-color: rgb(239, 194, 195);
  height: 30px;

}



.slider2 {
    display: flex;
    background-color: rgb(219, 221, 232);
    /* display: inline-flex; */
}

.lines {
    
  display: flex;
  padding: 13px;
  margin: 9.8pxpx;
  height: 385px;
  gap: 90x;
  gap: 90px;
}

.photo{
    /* flex-direction: column; */
   width: 180px;
    text-align: center;

}
.photo img {
    width: 100%;
    height: 200px;        /* fixed height */
    object-fit: contain;  /* poora image dikhayega */
    background: white;    /* gap fill karega */
    display: block;
}

.space{
    height: 25px;
}

.spaceline2{
 height: 25px;
}
.lines2{
    background-color: lightcoral;
    color: black;
height: 30px;

}
.containor2{
height: 347px;
width: 100vw;
background-color: lightgray;
padding: 0;
display: inline-flex;
margin: 0;

}
.size{
    flex-direction: column;

}

.space2{
    height: 30px;
    background-color:lightpink;
}

.execise{
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 300px;
    background-color: gray;
}

.execise img{
       width: 100%;
    height: 200px;        /* fixed height */
    object-fit: contain;  /* poora image dikhayega */
    background: white;    /* gap fill karega */
    display: block;
}
.gym{
    display: inline-flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
}
